<h1>Trends</h1>
<p>Here's a list of countries: feel free to play with it.</p>
@if (trends) {
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Store</th>
      </tr>
    </thead>
    <tbody>
      @for (trend of trends; track trend.itemID) {
        <tr ngFor="let trend of trends">
          <td><a [routerLink]="['/trendingItems', trend.itemID]">{{ trend.itemID }}</a></td> 
          <td>{{ trend.itemType }}</td>
          <td>{{ trend.location }}</td>
          <td>{{ trend.store }}</td>
        </tr>  
      }
    </tbody>
  </table>
} @else {
  <p><em>Loading...</em></p>
}