<h1 id="tableLabel">Trending Items</h1>

<p>This component demonstrates fetching data from the server.</p>


@if(trends){

<table>
    <thead>
        <tr>
            <th>Item </th>
            <th>Size </th>
            <th>Store </th>
            <th>Store ID</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @for(forecast of trends; track $index) {

        <tr>
            <td>{{ trends.item }}</td>
            <td>{{ trends.store }}</td>
            <td>{{ trends.storeID }}</td>
            <td>{{ trends.location }}</td>
        </tr>
      }
    </tbody>
</table>
}

@else {
  <p><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
}


